#image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: -150px;
    border: 2px solid white;
}

.main {
    text-align: center;
}

.header {
    height: 150px;
    background-color: black;
}

#portfolio {
    height: 400px;
    width: 100%;
}

.link-box {
    display: flex;
    justify-content: space-around;
    margin: 40px 0px
}

.link:hover {
    color: red;
}

.footer {
    border: 1px solid red;
    background-color: rgb(20, 207, 207);
    padding: 20px;
}